﻿<a href="/" class="btn btn-lg btn-danger">Back</a>
{{#each hookahs}}
<hr>
<div class="row">
    <p class="title"><span class="label label-danger">Flavours</span></p>
    {{#each tobaccos}} {{> tobacco}}{{/each}}
</div>
{{#if addons}}
<div class="row">
    <p class="title">
        <span class="label label-info">Addons</span>
    </p>
    {{#each addons}} {{> addon}}{{/each}}
</div>
{{/if}}
{{/each}}