﻿<div class="row">
    <div class="col-xs-9">
    </div>
    {{#if isAdmin}}
    <div class="col-xs-3">
        <a href="/admin" class="btn btn-lg btn-default">Options</a>
    </div>
    {{/if}}
</div>
<hr>
<div class="row">
    <div class="col-xs-5">
        <a href="/menu" class="btn btn-lg btn-danger">Make order</a>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
        <a href="/orders" class="btn btn-lg btn-warning">Orders list</a>
    </div>
</div>