﻿<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style/site.css">

    <script src="node_modules\jquery\dist\jquery.min.js"></script>
    <script src="node_modules\bootstrap\dist\js\bootstrap.min.js"></script>
    <script src="node_modules\sammy\lib\min\sammy-0.7.6.min.js"></script>
    <script src="node_modules\handlebars\dist\handlebars.min.js"></script>
    <script src="node_modules\sammy\lib\plugins\sammy.handlebars.js"></script>

    <script data-main="scripts/app.js" src="node_modules/requirejs/require.js"></script>

    <title>Hookah Menu</title>
</head>

<body>
    <div id="notifications">
        <div id="infoBox" class="alert alert-success"><span></span></div>
        <div id="errorBox" class="alert alert-danger"><span></span></div>
    </div>
    <div id="main">

    </div>
</body>

</html>