<div class="row">
    <div class="col-xs-9">
    </div>
    {{#if isAdmin}}
    <div class="col-xs-3">
        <a href="/admin" class="btn btn-lg btn-default">Options</a>
    </div>
    {{/if}}
</div>
<hr>
<div class="row">
    <h3>Choose a table:</h3>
    {{#if tables}} {{#each tables}}
    <div class="col-xs-6">
        <a href="/tables/{{id}}" class="btn btn-lg btn-warning">Table №{{id}}</a>
    </div>
    {{/each}} {{else}}
    <p>Currently there are no free tables.</p>
    {{/if}}
</div>