﻿@font-face {
    font-family: 'Womby';
    src: url('fonts/Womby/Womby-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Womby', Fallback, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tobacco {
    margin-bottom: 50px
}

.title {
    font-size: large;
    text-align: center;
}

.x-title {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 50px
}

.img-tobacco {
    width: 220px;
    height: 100px
}

.box-shisha {
    margin-right: -25px;
    margin-bottom: 5px;
    margin-left: 10px
}

input[type=checkbox] {
    display: none;
}

.img-tobacco.checked {
    opacity: 0.5
}

.input-group.order {
    margin-left: 24px
}

.menu-box.tobacco {
    position: relative;
    left: 100%
}

.img-shisha-tobacco {
    width: 100px;
    height: 60px;
    margin-bottom: 5px;
}

#notifications {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    margin: 1em;
}

.alert {
    font-size: 1.5em;
    color: #ffffff;
    display: none;
    text-align: right;
}

.alert>span {
    display: inline-block;
    padding:  0.5em 2em 0.5em 2em;
    border-radius: 10px;
}

