<a href="/admin/tables" class="btn btn-lg btn-danger">Back</a>
{{#each orders}}
<hr>
<div class="row">
    <p class="title">
        <span class="label label-danger">Flavours</span>
    </p>
    {{#each this.tobaccos}} {{> tobacco}}{{/each}}
</div>
{{#if addons}}
<div class="row">
    <p class="title">
        <span class="label label-info">Addons</span>
    </p>
    {{#each this.addons}} {{> addon}}{{/each}}
</div>
{{/if}}
<div class="row">
    <br> {{#if this.isFinished}}
    <h1>
        <span class="label label-success">✓</span>
    </h1>
    {{else}}
    <form action="/admin/orders/{{this.id}}" method="post">
        <input type="hidden" value="{{../tableId}}" name="tableId">
        <input type="submit" value="Finish order" class="btn btn-lg btn-info"></input>
    </form>
    {{/if}}
</div>
{{/each}}
<div class="row">
    <h2>Total price: {{price}} lv.</h2>
    <a href="/admin/orders/{{id}}" class="btn btn-lg btn-success">Finish payment</a>
</div>