<a href="/" class="btn btn-lg btn-danger">Back</a>
<hr>
<div class="row">
    <div class="col-xs-5">
        <a href="/admin/tables" class="btn btn-lg btn-danger">Active tables</a>
    </div>
    <div class="col-xs-1">
    </div>
    <div class="col-xs-5">
        <a href="/admin/tables/add" class="btn btn-lg btn-warning">Add Table</a>
    </div>
</div>