<a href="/admin" class="btn btn-lg btn-danger">Back</a>
<hr>
<div class="row">
    <h3>Active tables:</h3>
    {{#if tables}} {{#each tables}}
    <div class="col-xs-4">
        <a href="/admin/tables/{{id}}" class="btn btn-lg btn-success">Table №{{id}}</a>
    </div>
    <div class="col-xs-2">
        <form action="/admin/tables/{{id}}" method="post">
            <input type="submit" class="btn btn-lg btn-danger" value="X">
        </form>
    </div>
    {{/each}} {{else}}
    <p>Currently no tables are active.</p>
    {{/if}}
</div>