<div class="col-xs-6 box-shisha">
    <input type="checkbox" name="addons" value="{{id}}" id="{{type}}" />
    <label for="{{type}}">
        <img class="img-rounded img-responsive img-tobacco" 
        src="./content/Addons/{{type}}.jpg" />
    </label>
    <p>{{type}} ({{price}} lv.)</p>
</div>