﻿<a href="/" class="btn btn-lg btn-danger">Back</a>
<hr>
<form method="post" action="/menu">
    <div class="row">
        <p class="title">Select tobacco</p>
        {{#each tobaccos}} {{> tobacco}} {{/each}}
    </div>
    <div class="row">
        <p class="title">Select addon</p>
        {{#each addons}} {{> addon}} {{/each}}
        <div class="input-group order">
            <input class="btn btn-lg btn-danger" type="submit" value="Order" />
        </div>
    </div>
</form>