<div class="col-xs-6 box-shisha">
    <input type="checkbox" name="flavours" value="{{id}}" id="{{flavour}}" />
    <label for="{{flavour}}">
        <img src="./content/Flavours/{{flavour}}.jpg" 
        class="img-rounded img-responsive img-tobacco"/>
    </label>
    <p>{{flavour}}</p>
</div>