﻿@using HookahMenu.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Client> SignInManager

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../style/site.css">

    <script src="../node_modules\jquery\dist\jquery.min.js"></script>
    <script src="../node_modules\bootstrap\dist\js\bootstrap.min.js"></script>

    <title>Hookah Menu</title>
</head>

<body>
<h2>Log in with</h2>
<hr> 
<div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-3">
        <section>
            @{
                var loginProvider = SignInManager.GetExternalAuthenticationSchemes().First();
                @Html.ActionLink(loginProvider.DisplayName, "ExternalLogin", "Account", new {provider = loginProvider.AuthenticationScheme}, new {@class = "btn btn-info btn-lg"})
            }
        </section>
    </div>
</div>
</body>

</html>
